<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dodawanie produktow</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> <!-- Dodanie linku do stylu CSS -->
</head>
<body>

<header th:replace="~{fragments/seller-header :: seller-header}"></header>
<div class="layout">
<h2>Dodaj nowy produkt</h2>

<form th:action="@{/seller/add-product}" method="post">
  <div>
    <label>Nazwa produktu:</label>
    <input type="text" name="name" required>
  </div>
  <div>
    <label>Cena:</label>
    <input type="number" min="0.01" step="0.01" name="price" required>
  </div>
  <button type="submit">Dodaj produkt</button>
</form>
</div>
</body>
</html>